{% load static %}
<header class="navbar navbar-expand-xl navbar-light fixed-top bg-white py-4">
    <nav class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/Logo.svg' %}" alt="CakeBake">
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item me-5">
                    <a class="nav-link fw-lighter cake_blue" href="index.html#step3">Создать торт</a>
                </li>
                <li class="nav-item me-5">
                    <a class="nav-link fw-lighter cake_blue" href="catalog">Каталог</a>
                </li>
                <li class="nav-item me-5">
                    <a class="nav-link fw-lighter cake_blue" href="#step4">Оплата и доставка</a>
                </li>
                <li class="nav-item me-5">
                    <a class="nav-link fw-lighter cake_blue" href="#Contacts">Контакты</a>
                </li>
                <li class="nav-item d-block d-xl-flex flex-column align-items-end me-5">
                    <small class="fw-lighter text-decoration-none fs_12 cake_blue">8 (495) 000-00-00</small>
                    <small class="fw-lighter text-decoration-none fs_12 cake_blue">Пн - Вс 10:00—20:00</small>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link fw-lighter cake_grey fs_12" href="lk">
                        {% if client.name %}
                            <p>{{client.name}}</p>
                            <a class="nav-link fw-lighter me-1 cake_blue position-relative" href="/logout">
                                <img src="{% static 'img/log-out.png' %}" alt="">
                            </a>
                        {% else %}
                            <a class="nav-link fw-lighter me-1 cake_blue position-relative" href="#RegModal" data-bs-toggle="modal">
                                <img src="{% static 'img/user.svg' %}" alt="">
                            </a>
                            <a type="submit" class="btn text-white rounded-pill mt-3 shadow-none cake__button cake__bg_pink" href="/reg">Регистрация</a>
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</header>
